<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <%= link_to "JustBlogIt", root_path, class: "navbar-brand", id: "navbar-app-name" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "navbar-brand" %><span class="sr-only">(current)</span>
      </li>
        <li class="nav-item active">
          <%= link_to "New Blog", new_post_path, class: "navbar-brand" %><span class="sr-only">(current)</span>
      </li>

    </ul>
    <ul class="navbar-nav mr-right">
      <% if user_signed_in?%>
        <li class="nav-item active">
          <a class="nav-link">
            <%= "logged in as #{current_user.username}" %>
          </a>
        </li>
        <li class="nav-item active">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
