
<div>
  <%= form_for @post do |f| %>
    <% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

    <%= f.label :title, 'Post Title' %>
    <%= f.text_field :title, placeholder: 'Enter title here...', class: 'form-control' %>

    <%= f.label :body, 'Post' %>
    <%= f.text_area :body, class: 'form-control' %>

    <%= f.submit 'Submit', class: 'btn-primary w-button' %>
  <% end %>
</div>
