<div class="post-card">
  <% @posts.each do |post| %>
    <div class="card card-body ">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-body"><%= post.body %></p>
      <p style="color:gray;"><i>Created on </i><%= post.created_at.strftime("%b %d, %Y") %></p>
      <div >
        <%= link_to 'Read More...', post_path(post), :class => 'btn btn-secondary' %>
      </div>
      <hr/>
      <% if post.comments.all.length == 1 %>
        <p class="comment-indicator"><%= post.comments.all.length %><i> comment</i></p>
      <% else %>
        <p class="comment-indicator"><%= post.comments.all.length %><i> comments</i></p>
      <% end %>
    </div>
  <% end %>
</div>
