<div class="post-card">
  <div class="card card-body">
    <h3 ><%= @post.title %></h3>
    <p><%= @post.body %></p>
    <p><i>Created on </i><%= @post.created_at.strftime("%b %d, %Y") %></p>
  </div>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
  <%= render 'comments/comments' %>
</div>
