<!DOCTYPE html>
<html>
  <head>
    <title>JustBlogIt</title>
    <%= render "shared/rails_default" %>
    <%= render "shared/shim" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/main" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
